@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body {
  margin: 25mm;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 5mm;  
}